a {
    text-decoration: none;
    display: block;
}
input, textarea {
    display: block;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
div {
    padding: 0;
    margin: 0;
}
body {
    margin: 2% 2%;
}